body > #root > div {
  height: 100vh;
  min-width: 100%;
}

.container1 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgotPass {
  color: #1877f2;
  font-size: 14px;
}

.forgotPass:hover {
  color: #1877f2;
}

.createAccount,
.createAccount:hover {
  color: white;
  text-decoration: none;
}

.login-btn button {
  width: 100%;
  background-color: #166fe5;
  padding: 0 16px;
  font-size: 20px;
  line-height: 48px;
  border-radius: 6px;
  border: none;
}

/* .email input {
  margin: 20px auto;
} */
